EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_MEDIA_API_URL=
EXPO_PUBLIC_NAVER_MAPS_CLIENT_ID=
EXPO_PUBLIC_NAVER_MAPS_BASE_URL=http://localhost
EXPO_PUBLIC_AUTH_REDIRECT_URL=https://booksome-app.pages.dev/auth/update-password
